<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enrolled Lectures</title>
  </head>
  <body>
    <h1>Enrolled Lectures</h1>
    <a href="{{ url_for('students.dashboard') }}">Back to Dashboard</a>
    {% if enrolled_lectures %}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for enrolled_lecture in enrolled_lectures %}
        <tr>
          <td>{{ enrolled_lecture.lecture.title }}</td>
          <td>
            <a
              href="{{ url_for('students.edit_enrolled_lecture', leid=enrolled_lecture.leid) }}"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No lectures found</p>
    {% endif %}
  </body>
</html>
