admin_add_lecture.html

{% extends "base.html" %}

{% block title %}Dodaj wyklad{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<h1>Add Lecture</h1>
<form method="POST">
    <label for="title">Tytul:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <button type="submit">Dodaj wyklad</button>
</form>/form>
<a href="{{ url_for('admin.lectures') }}">Wroc do wykladow</a>
{% endblock %}
