<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lectures</h1>
    <a href="{{ url_for('admin.add_lecture') }}">Add Lecture</a>
    {% if lectures %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for lecture in lectures %}
            <tr>
                <td>{{ lecture.lid }}</td>
                <td>{{ lecture.title }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_lecture', lid=lecture.lid) }}">Edit</a>
                    <a href="{{ url_for('admin.delete_lecture', lid=lecture.lid) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No lectures found</p>
    {% endif %}
</body>
</html>
